body{
    width:100%;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-27) var(--unnamed-font-family-yugothic)　游ゴシック体;

}

li　{
    list-style: none;
    text-decoration: none;
}

a{
    text-decoration: none;
    color:#FFFFFF;
}

$font-default:16px;
$color-main: #3f51b5; // ベース色
$color-active: #e81919; // アクティブ色
$color-background-base: #fff; // 背景色
$color-text-base: #333; // テキスト色
$hover-opacity: 0.6; // 透過度





  /* ヘッダー */


header{
    height: 100px;
    width:100%;
    background: #3F51B5 0% 0% no-repeat padding-box;
}
.header__inner {
    display: flex;
    align-items: center;
}
.header__logo{
    padding-top: 25px;
    padding-left: 40px;
}

  .header__nav {
    margin-left: auto;
    padding-top: 30px;
    padding-right: -15px;
    margin-right: 8px;
    float: left;
   ul li{
    float: right;
    padding-right: 35px;

  }
  ul li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #fff;
    display: block;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 100%;
        height: 2px;
        background: $color-active;
        opacity: 0;
        transition: all 0.3s ease 0s;
    }

    &.is-active {
        &::after {
            opacity: 1;
        }
    }
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.hamburger{
  display: none;
}
.globalMenuSp ul li{
  display: none;
}



  /* メイン画像のエリア */
.main-content{
    background-image: url(../img/mainvisual.png);
    background-size: cover;
    height:600px;
    width:100%;
    margin-left: 0px;
}

.main-content-header {
    padding-top: 184px;
   h1{
    text-align: center;
    font-size: 64px;
    margin-top: -10px;
    letter-spacing: 0px;
    font-weight: bold;
    color:$color-text-base;
}
   p{
    text-align: center; 
    font-size: 24px; 
    color:$color-text-base;
   }
   p button{
    width: 384px;
    margin-top:40px;
    height: 72px;
    background: var(--unnamed-color-3f51b5) 0% 0% no-repeat padding-box;
    background: #3F51B5 0% 0% no-repeat padding-box;

    border-radius: 8px;
    color:#fff;
    opacity: 1;
    font-size:24px;
   }
}

.main-content-header-button{
    text-align: center;
}

  /* カードセクション */
.card{
  width:100%;
  height: 1042px;
  background: hsl(0, 0%, 94%) 0% 0% no-repeat padding-box;
  opacity: 1;
}

.card-section-title{
  h2{
    text-align: center;
    padding-top: 82px;
    position: relative;
    font: normal normal bold 48px/82px YuGothic;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
  }
  h2:after {
      content: "";
      margin: 0 auto;
      display: block;
      width: 60px;
      height: 4px;
      margin-top: 10px;
      border-radius: 2px;
      background: #3F51B5 0% 0% no-repeat padding-box;
    }
}
.card-container{
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
  padding:0 20px;
}

.card-items{
  width: calc(33.33333333% - 24px * 2 / 3);
  max-width: 352px;
  margin: 0 auto;
  height: 301px;
  margin-bottom: 20px;
  padding: 16px 16px 35px;
  background-color: #ffffff;
  

  img{
    max-width: 352px;
    margin:auto;
  }
  h2{
    font-size: 20px;
    padding-top:0px;
  }
  p{ 
    font-size:$font-default;
    padding-top: 12px;
  }
}


     /* ニュースセクション */
.news{
  width:100%;
  height: 758px;
  opacity: 1;
}

.news-section-title{
  h2{
    text-align: center;
    padding-top: 82px;
    position: relative;
    font: normal normal bold 48px/82px YuGothic;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
  }
  h2:after {
      content: "";
      margin: 0 auto;
      display: block;
      width: 60px;
      height: 4px;
      border-radius: 2px;
      background: #3F51B5 0% 0% no-repeat padding-box;
    }
}
.news__item {
  border-bottom: 1px solid #707070;
}

.news__item:last-child {
  border: none;
}

.news__link a{
  color:#E81919;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news__link a::after{
  content:"";
  width:7px;
  height:11px;
  background: transparent url(../img/news-arrow.svg);
  display: inline-block;
  margin-left: 5px;
  margin-top: 2px;
  vertical-align: middle;
}




.info {
  padding: 20px  0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}


.info__meta {
  width: 1000px; /* 固定値 */
}

.info__label a{
  display: inline-block;
  color: #fff;
  font-weight: 700;
  text-align: center;
  padding: 8px;
  margin-left: 9px;
  margin-top: -5px;
  background: #666;
  border-radius: 4px;
  text-decoration: none;
  line-height: 1;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}


.info__label.info__label--type01 a {
  background: #3f51b5;
  text-decoration: none;
}
.info__label.info__label--type02 a {
  background: #E81919;
  text-decoration: none;
}

.info__title a{
  color:#000;  
}

.info__title{
  margin-left: 20px;
}


.info__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 185px;
  padding-top: 2px;
}

.news__items {
  margin: 60px auto 0;
  width: 800px;
  max-width: 100%;
}





/* priceセクション */
.price{
  width:100%;
  height: 758px;
  opacity: 1;
  background-color:#EFEFEF;
}

.price-section-title{
h2{
  text-align: center;
  padding-top: 82px;
  position: relative;
  font: normal normal bold 48px/82px YuGothic;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}
h2:after {
    content: "";
    margin: 0 auto;
    display: block;
    width: 60px;
    height: 4px;
    border-radius: 2px;
    background: #3F51B5 0% 0% no-repeat padding-box;
  }
}

.price-items{
   margin-top: 80px;
   display: flex;
}


.price-img{
    margin-left: 40px;
    img{
      width:100%;
      height:286px;
    }
}

.price-table{
  margin-left: 100px;
  width: 100%;
  margin-right: 15px;
}


/* 最初の列のみ */
.table-default th:first-child {
  width: 170px;
}

.table-default {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #707070;
  background: #fff;
  height:286px;
  table-layout: fixed;
}

.table-default th,
.table-default td {
  padding: 18px 24px;
  border: 1px solid #707070;
  vertical-align: middle;
  line-height: 1.2;
  font-weight: 700;
}
.table-default td{
  text-align: right;
}
.table-default th{
  padding: 14px 8px;
}


.table-default th {
  text-align: center;
  background: #999;
  font-weight: 700;
  color: #fff;
}

.table-default th:first-child {
  width: 170px;
}


















  /* レスポンシブ対応 */

@media screen and (max-width:767px){
/*　ヘッダーメニュ　*/


.header__nav{
  display: none;
}
.main-content{
    background-image: url(../img/mainvisual.png);
    background-position: center;
    background-size: cover;
   h1{
     font-size:42px;
     position: relative;
     top:-100px;
   }
   p{
    font-size:32px;
    position: relative;
    top:-80px;
  }
  p button{
    width:300px;
  } 

}


/*　ハンバーガーボタン　*/
.hamburger {
  display : block;
  position: fixed;
  z-index : 3;
  right : 13px;
  top   : 12px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}
.hamburger span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 2px ;
  left    : 6px;
  background : #555;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 10px;
}
.hamburger span:nth-child(2) {
  top: 20px;
}
.hamburger span:nth-child(3) {
  top: 30px;
}

/* ナビ開いてる時のボタン */
.hamburger.active span:nth-child(1) {
  -webkit-transform: translateY(6px);
  -moz-transform   : translateY(6px);
  transform        : translateY(6px);
}
.hamburger.active span:nth-child(2){
-webkit-transform: translateY(-4px);
  -moz-transform   : translateY(-4px);
  transform        : translateY(-4px);
}  

.hamburger.active span:nth-child(3) {
  -webkit-transform: translateY(-14px);
  -moz-transform   : translateY(-14px);
  transform        : translateY(-14px);
}

nav.globalMenuSp {
  position: fixed;
  z-index : 2;
  top  : 0;
  left : 0;
  color: #000;
  background: #fff;
  text-align: center;
  transform: translateY(-100%);
  transition: all 0.6s;
  width: 100%;
}

nav.globalMenuSp ul {
  background: #ccc;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #fff;
}
nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
nav.globalMenuSp ul li:hover{
  background :#ddd;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #000;
  padding: 1em 0;
  text-decoration :none;
}

nav.globalMenuSp.active {
  transform: translateY(0%);
}

.card{
  width:100%;
  height: 2442px;
  background: hsl(0, 0%, 94%) 0% 0% no-repeat padding-box;
  opacity: 1;
}

.card-section-title{
  h2{
    text-align: center;
    padding-top: 82px;
    position: relative;
    font: normal normal bold 48px/82px YuGothic;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
  }
  h2:after {
      content: "";
      margin: 0 auto;
      display: block;
      width: 60px;
      height: 4px;
      border-radius: 2px;
      background: #3F51B5 0% 0% no-repeat padding-box;
    }
}
.card-container{
  display: block;
  margin-top: 80px;
  padding:0 auto;
}

.card-items{
  width:100%;
  max-width: 262px;
  margin: 0 auto;
  padding: 16px 16px 35px;
  background-color: #ffffff;
  margin-bottom: 10px;
  img{
    max-width: 262px;
    margin:auto;
  }
  h2{
    font-size: 16px;
    padding-top:8px ;
  }
  p{ 
    font-size:$font-default;
    padding-top: 12px;
  }

}


.news__link a{
  color:#E81919;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.info {
  padding: 20px  0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: block;
}


.info__meta {
  width: 300px; 
}

.info__title{
  margin-top: 10px;
  margin-left: 0px;
  font-size: 14px;
}




}