@charset "UTF-8";
body {
  width: 100%;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-27) var(--unnamed-font-family-yugothic) 　游ゴシック体;
}

li, ul {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

img:hover{
    opacity: 0.8;
}



/* ヘッダー */
header {
  height: 100px;
  width: 100%;
  background: #3F51B5 0% 0% no-repeat padding-box;
}

.header__inner {
  display: flex;
  align-items: center;
}

.header__logo {
  padding-top: 25px;
  padding-left: 40px;
}

.header__nav {
  margin-left: auto;
  padding-top: 30px;
  padding-right: -15px;
  margin-right: 8px;
  float: left;
}

.header__nav ul li {
  float: right;
  padding-right: 35px;
}

.header__nav ul li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
}

.header__nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background: #e81919;
  opacity: 0;
  transition: all 0.3s ease 0s;
}

.header__nav ul li a.is-active::after {
  opacity: 1;
}

.header__nav .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.hamburger {
  display: none;
}

.globalMenuSp ul li {
  display: none;
}

/*トップへ戻るボタン*/
.floating{
    position: fixed;
    right:10px;
    bottom:10px;
    display: none;
}
.floating a{
    display: block;
    padding: 4px;
    text-decoration: none;
    opacity: 0.8;
  }
.floating a:hover {
opacity: 1;
}


/* メイン画像のエリア */
.main-content {
  background-image: url(../img/mainvisual.png);
  background-size: cover;
  height: 600px;
  width: 100%;
  margin-left: 0px;
}

.main-content-header {
  padding-top: 184px;
}

.main-content-header h1 {
  text-align: center;
  font-size: 64px;
  margin-top: -10px;
  letter-spacing: 0px;
  font-weight: bold;
  color: #333;
}

.main-content-header p {
  text-align: center;
  font-size: 24px;
  color: #333;
}

.main-content-header p button {
  width: 384px;
  margin-top: 40px;
  height: 72px;
  background: var(--unnamed-color-3f51b5) 0% 0% no-repeat padding-box;
  background: #3F51B5 0% 0% no-repeat padding-box;
  border-radius: 8px;
  color: #fff;
  opacity: 1;
  font-size: 24px;
}

.main-content-header-button {
  text-align: center;
}

/* カードセクション */
.card {
    width: 100%;
    background: #f0f0f0 0% 0% no-repeat padding-box;
    opacity: 1;

  }
  .card-section-title h2 {
    text-align: center;
    padding-top: 82px;
    position: relative;
    font: normal normal bold 48px/82px YuGothic;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
  }
  .card-section-title h2:after {
    content: "";
    margin: 0 auto;
    display: block;
    width: 60px;
    height: 4px;
    border-radius: 2px;
    background: #3F51B5 0% 0% no-repeat padding-box;
  }


  .card {
    background: #efefef;
  }
  
  .card__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 56px;
    margin: 20px;
    padding-bottom: 104px;
  }
  
  @media (max-width: 767px) {
    .card__items {
      margin-top: 30px;
    }
  }
  
  .card__item {
    width: calc(33.33333333% - 24px * 2 / 3);
    margin-right: 24px;
    margin-top: 24px;
  }
  .card__item:nth-child(3n) {
    margin-right: 0;
  }
  
  .card__item:nth-child(3n) {
    margin-right: 0;
  }
  

  
  @media (max-width: 767px) {
    .card__item {
      width: 100%;
      margin-right: 0;
    }
    .card__item:nth-child(3n) {
      margin-right: 0;
    }
  }


  .media {
    overflow: hidden;
    background: #fff;
    border-radius: 4px;
    padding: 16px 16px 16px 16px;
    display: block; 
    text-decoration: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .media__img {
    text-align: center;
    width:100%;
  }
  
  .media__img img {
    vertical-align: bottom;
    width:100%;
    padding:auto;
  }
  
  .media__body {
    margin-top: 12px;
    font-size: 12px;
  }
  
  .media__title {
    font-weight: 700;
    color: #6f7579;
  }
  
  .media__content {
    font-weight: 700;
    color: #6f7579;
    margin-top: 4px;
    line-height: 1.5;
  }



/* ニュースセクション */
.news {
  width: 100%;
  height: 758px;
  opacity: 1;
}

.news-section-title h2 {
  text-align: center;
  padding-top: 82px;
  position: relative;
  font: normal normal bold 48px/82px YuGothic;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.news-section-title h2:after {
  content: "";
  margin: 0 auto;
  display: block;
  width: 60px;
  height: 4px;
  border-radius: 2px;
  background: #3F51B5 0% 0% no-repeat padding-box;
}

.news__item {
  border-bottom: 1px solid #707070;
}

.news__item:last-child {
  border: none;
}

.news__link a {
  color: #E81919;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news__link a::after {
  content: "";
  width: 7px;
  height: 11px;
  background: transparent url(../img/news-arrow.svg);
  display: inline-block;
  margin-left: 5px;
  margin-top: 2px;
  vertical-align: middle;
}

.info {
  padding: 20px  0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__meta {
  width: 1000px;
  /* 固定値 */
}

/* タイトルのエリア */
.info__label a {
  display: inline-block;
  color: #fff;
  font-weight: 700;
  text-align: center;
  padding: 8px;
  margin-left: 9px;
  margin-top: -5px;
  background: #666;
  border-radius: 4px;
  text-decoration: none;
  line-height: 1;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.info__label.info__label--type01 a {
  background: #3f51b5;
  text-decoration: none;
}

.info__label.info__label--type02 a {
  background: #E81919;
  text-decoration: none;
}

.info__title a {
  color: #000;
}

.info__title {
  margin-left: 20px;
}

.info__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 185px;
  padding-top: 2px;
}

.news__items {
  margin: 60px auto 0;
  width: 800px;
  max-width: 100%;
}

/* priceセクション */
.price {
  width: 100%;
  height: 758px;
  opacity: 1;
  background-color: #EFEFEF;
}

.price-section-title h2 {
  text-align: center;
  padding-top: 82px;
  position: relative;
  font: normal normal bold 48px/82px YuGothic;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.price-section-title h2:after {
  content: "";
  margin: 0 auto;
  display: block;
  width: 60px;
  height: 4px;
  border-radius: 2px;
  background: #3F51B5 0% 0% no-repeat padding-box;
}

.table-default th:first-child {
  width: 170px;
}

.table-default {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #707070;
  background: #fff;
  height: 286px;
  table-layout: fixed;
}

.table-default th,
.table-default td {
  padding: 18px 24px;
  border: 1px solid #707070;
  vertical-align: middle;
  line-height: 1.2;
  font-weight: 700;
}

.table-default td {
  text-align: right;
}

.table-default th {
  padding: 14px 8px;
}

.table-default th {
  text-align: center;
  background: #999;
  font-weight: 700;
  color: #fff;
}

.table-default th:first-child {
  width: 170px;
}

.table {
  background: #efefef;
}

.table__content {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table__image {
  margin-left: 30px;
  margin-right: 20px;
  width:40%;
}

.table__image img {
  width: 454px;
  margin-right: 40px;
  text-align: center;
}

.table__price {
  margin-right: 20px;
}

.table-default {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #707070;
  background: #fff;
  table-layout: fixed;
}

@media (max-width: 767px) {
  .table__image {
    width: 100%;
    margin-top: 0;
    margin-bottom: 32px;
  }
}

.table-default th,
.table-default td {
  padding: 18px 24px;
  border: 1px solid #707070;
  vertical-align: middle;
  line-height: 1.2;
  font-weight: 700;
}

.table-default td {
  text-align: right;
}

.table-default td.table-default__multiline {
  padding-top: 10px;
  padding-bottom: 8px;
}

.table-default td span.m-active {
  color: #e81919;
}

.table-default td span.m-small {
  font-size: 0.825em;
}

.table-default__attention {
  font-size: 13px;
}

.table__attention {
  margin-top: 6px;
  font-size: 14px;
}

.table__attention a {
  font-weight: 700;
  color: #333;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

/* スライダー */
.swiper-button-prev{
    margin-left: -5px;
}
.swiper-slide{
    img{
        height:286px;
        width:auto;
    }
}
.swiper-wrapper{
     img{
         width:100%;
     }
}




/* アクセスセクション */
.access {
  width: 100%;
  opacity: 1;
  background-color: #fff;
}

.access-section-title h2 {
  text-align: center;
  padding-top: 82px;
  position: relative;
  font: normal normal bold 48px/82px YuGothic;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.access-section-title h2:after {
  content: "";
  margin: 0 auto;
  display: block;
  width: 60px;
  height: 4px;
  border-radius: 2px;
  background: #3F51B5 0% 0% no-repeat padding-box;
}

.map__iframe-wrap {
  margin: 0 auto;
  max-width: 800px;
  margin-top: 80px;
}

.google-map {
  width: 100%;
  padding-top: 50%;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.google-map > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.map-info dt {
  float: left;
}

.map-info dd {
  text-align: left;
}

.map--link {
  text-align: center;
  color: #333;
  margin-top: 30px;
  margin-bottom: 100px;
  opacity: 1;
}

.map--link a {
  width: 104px;
  background: var(--unnamed-color-3f51b5) 0% 0% no-repeat padding-box;
  padding: 20px 77px;
  font-size: 16px;
  border-radius: 8px;
  background: #3F51B5 url("../img/button-arrow.svg") 98% 50% no-repeat padding-box;
}

/* コンタクトセクション */
.contact {
  width: 100%;
  opacity: 1;
  background-color: #EFEFEF;
}

.contact-section-title {
  margin-bottom: 80px;
}

.contact-section-title h2 {
  text-align: center;
  padding-top: 82px;
  position: relative;
  font: normal normal bold 48px/82px YuGothic;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.contact-section-title h2:after {
  content: "";
  margin: 0 auto;
  display: block;
  width: 60px;
  height: 4px;
  border-radius: 2px;
  background: #3F51B5 0% 0% no-repeat padding-box;
}

.contact__item {
  margin: 80px auto 0;
  padding: 60px;
  background: #fff;
  width: 800px;
  max-width: 100%;
}

.contact__controls {
  margin: 0;
}

.contact__control {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__control:last-child {
  margin-bottom: 0;
}

.contact__label--required {
	position: relative;
}

.contact__label--required::after {
	content: "必須";
	position: absolute;
	background: #e81919;
	border-radius: 4px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	line-height: 1;
	font-weight: 700;
	padding: 4px 8px;
	width: 44px;
	display: block;
	top: calc(100% + 8px);
	left: 0;
}

.contact__control dt {
  width: 160px;
  padding: 6px 0 0;
  margin: 0;
}

.contact__control dd {
	flex-grow: 1;
    padding: 0;
    height:38px;
	margin: 0;
}
.contact__label {
	font-size: 16px;
	font-weight: 700;
}

.contact-form {
  padding-bottom: 120px;
}

.contact__control dd {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0;
  margin: 0;
}

.contact__radio {
  margin-top: 26px;
  padding: 0;
}

.contact__radio-item {
  margin-right: 32px;
}

.contact__radio-item:last-child {
  margin-right: 0;
}

.contact__check a {
  color: #333;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 700;
}

.contact__check {
  margin-top: 58px;
  text-align: center;
}

.contact__submit {
  text-align: center;
  color: #333;
  margin-top: 30px;
  margin-bottom: 60px;
}

.contact__submit a {
  width: 104px;
  background: var(--unnamed-color-3f51b5) 0% 0% no-repeat padding-box;
  padding: 20px 77px;
  font-size: 16px;
  border-radius: 8px;
  background: #3F51B5 url("../img/button-arrow.svg") 98% 50% no-repeat padding-box;
}

/* フッター */
footer {
  background-color: #333;
  height: 280px;
  color:#fff;
}
.footer-top{
  display: flex;
  justify-content: space-between;
}
.footer-left-logo{
  padding-left: 40px;
   
  img{
    margin-top: 60px;
  }
  p{
    font-size: 14px;
  }
  p:nth-child(2){
    padding-top: 6px;
  }
}
.footer-left-logo-comment{
  margin-top: 32px;
}
.footer-center-part{
  display: flex;
  justify-content: start;
  padding-top: 60px;

      li{
        padding:0 20px;
      }
}

.footer-bottom{
    margin-top: 46px;
    font-size: 16px;
  
    justify-content: center;
}

.copyright{
    text-align: center;
}



.footer-right-part{
  margin-right: 20px;
  margin-top: 60px;
    
     img{
        padding: 0 4px;
     }
}





/* レスポンシブ対応 */
@media screen and (max-width: 767px) {
  /*　ヘッダーメニュ　*/
  .header__nav {
    display: none;
  }
  .main-content {
    background-image: url(../img/mainvisual.png);
    background-position: center;
    background-size: cover;
  }
  .main-content h1 {
    font-size: 42px;
    position: relative;
    top: -100px;
  }
  .main-content p {
    font-size: 32px;
    position: relative;
    top: -80px;
  }
  .main-content p button {
    width: 300px;
  }
  /*　ハンバーガーボタン　*/
  .hamburger {
    display: block;
    position: fixed;
    z-index: 3;
    right: 13px;
    top: 12px;
    width: 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
  }
  .hamburger span {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 6px;
    background: #555;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .hamburger span:nth-child(1) {
    top: 10px;
  }
  .hamburger span:nth-child(2) {
    top: 20px;
  }
  .hamburger span:nth-child(3) {
    top: 30px;
  }
  /* ナビ開いてる時のボタン */
  .hamburger.active span:nth-child(1) {
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    transform: translateY(6px);
  }
  .hamburger.active span:nth-child(2) {
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  .hamburger.active span:nth-child(3) {
    -webkit-transform: translateY(-14px);
    -moz-transform: translateY(-14px);
    transform: translateY(-14px);
  }
  nav.globalMenuSp {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    color: #000;
    background: #fff;
    text-align: center;
    transform: translateY(-100%);
    transition: all 0.6s;
    width: 100%;
  }
  nav.globalMenuSp ul {
    background: #ccc;
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }
  nav.globalMenuSp ul li {
    list-style-type: none;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid #fff;
  }
  nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
  nav.globalMenuSp ul li:hover {
    background: #ddd;
  }
  nav.globalMenuSp ul li a {
    display: block;
    color: #000;
    padding: 1em 0;
    text-decoration: none;
  }
  nav.globalMenuSp.active {
    transform: translateY(0%);
  }




  .news__link a {
    color: #E81919;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info {
    padding: 20px  0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
  }
  .info__meta {
    width: 300px;
    /* 固定値 */
  }
  .info__title {
    margin-top: 10px;
    margin-left: 0px;
    font-size: 16px;
  }
  /* price section */
  .price-section-title h2 {
    text-align: center;
    margin-top: 82px;
    position: relative;
    font: normal normal bold 48px/82px YuGothic;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
  }
  .price-section-title h2:after {
    content: "";
    margin: 0 auto;
    display: block;
    width: 60px;
    height: 4px;
    border-radius: 2px;
    background: #3F51B5 0% 0% no-repeat padding-box;
  }
  .table__content {
    display: block;
    margin: auto;
    margin-top: 20px;
  }
  .table__content img {
    width: 100%;
  }
}